@model LVP_231230862_de01.Models.Lvpcomputer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lvpcomputer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LvpcomName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LvpcomName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LvpcomPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LvpcomPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LvpcomImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LvpcomImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lvpcomstatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lvpcomstatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LvpcomId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
